@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  color: #111;
  background: #eeeef3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 1;
}

main.flex-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  height: 0;
  flex-grow: 1;
  margin-bottom: 0;
}

header,
main,
footer {
  width: calc(100% - 36px);
  max-width: 1024px;
  margin: 16px auto;
}

footer {
  line-height: 1.5em;
  font-size: calc(1em - 2px);
  color: #9b9b9b;
}

button,
select {
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.3s;
}

input,
button,
select,
textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: inherit;
  margin: 0;
}

input:not([type='checkbox']),
select,
button {
  background: #fdfeff;
  line-height: 1.5em;
  border: 1px solid #dde1e5;
  box-sizing: border-box;
  margin: 0;
  padding: 0.3em 0.7em;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

button,
select,
input[type='date'],
input[type='color'] {
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.3s;
}

select {
  height: 2.25em;
}

option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

input[type='checkbox'] {
  position: relative;
  cursor: pointer;
}

input[type='checkbox']::before {
  content: '';
  visibility: visible;
  position: absolute;
  top: -1px;
  left: 0;
  height: 1em;
  width: 1em;
  border-radius: 4px;
  background: #fdfeff;
  border: 2px solid #bd4444;
  box-sizing: border-box;
}

input[type='checkbox']:checked::before {
  background: #bd4444;
}

input[type='checkbox']:checked::after {
  content: '';
  visibility: visible;
  position: absolute;
  top: 2px;
  left: 3px;
  height: 0.4em;
  width: 0.7em;
  transform: rotate(-45deg);
  background: transparent;
  box-sizing: border-box;
  border-left: 2px solid #fdfeff;
  border-bottom: 2px solid #fdfeff;
}

.task-list {
  flex-grow: 1;
  flex-shrink: 0;
  width: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.task-list-search {
  margin-bottom: 8px;
  flex-grow: 0;
  flex-shrink: 1;
}

.task-list-search-row {
  width: 100%;
}

.task-page {
  flex-grow: 8;
  width: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.task-page:empty {
  background: url(./assets/empty-page.jpg);
  background-size: 300px;
  background-position: center center;
  height: 100%;
  background-repeat: no-repeat;
  mix-blend-mode: color-burn;
  animation: lift-up 2s forwards;
}

.task-list-list:empty {
  background: url(./assets/egg.jpg);
  background-size: 200px;
  background-position: center 100px;
  background-repeat: no-repeat;
  mix-blend-mode: color-burn;
  animation: lift-up 1s forwards;
}

.task-list-list {
  height: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.task-editor {
  height: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.task-editor-text,
.task-editor-body {
  width: 100%;
}

.task-editor-text {
  font-size: 2em;
  margin-top: 16px;
  margin-bottom: 0;
}

.textarea-group {
  position: relative;
  tab-size: 4;
}

.textarea-shadow {
  visibility: hidden;
}

.textarea-shadow,
.textarea-itself {
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.5em;
  min-height: 1.5em;
  color: inherit;
  text-decoration: inherit;
  width: 100%;
  margin: 0;
  background: transparent;
  word-wrap: break-word;
  white-space: pre-wrap;
  -webkit-text-size-adjust: none;
}

.textarea-itself {
  resize: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.textarea-shadow.extra-height {
  padding-bottom: 1.5em;
}

.task-editor-option-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  margin: 16px 0;
}

.task-editor-option-subrow {
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  min-width: 0;
}

.task-editor-option-subrow input,
.task-editor-option-subrow select {
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0;
}

dialog.category-editor {
  padding: 1em;
  width: calc(100% - 36px);
  max-width: 360px;
}

.category-editor-header {
  margin-bottom: 24px;
  width: 100%;
}

dialog h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.task-editor-body {
  height: 0;
  flex-grow: 1;
}
.task-editor-body .textarea-group {
  min-height: 100%;
}

.textarea-group {
  position: relative;
  tab-size: 4;
}

.task {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background 0.2s;
}

.task-content {
  flex-grow: 1;
  width: 0;
}

.task-text {
  line-height: 1.5em;
  word-wrap: break-word;
}

.task-body-preview {
  color: #9b9b9b;
  font-size: calc(1em - 4px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task.task-done .task-text,
.task.task-done .task-category {
  opacity: 0.5;
}

.category {
  display: inline-block;
  color: #fdfeff;
  font-size: calc(1em - 4px);
  background: #9b9b9b;
  padding: 0.3em 0.5em;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.task-due {
  color: #bd4444;
}

dialog {
  color: #111;
  background: #fdfeff;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 52px -6px rgba(0, 0, 0, 0.36);
}

dialog[open] {
  display: block;
}

dialog.category-editor {
  padding: 1em;
  width: calc(100% - 36px);
  max-width: 360px;
}

dialog::backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.15);
}

.category-editor-header {
  margin-bottom: 24px;
  width: 100%;
}

dialog h2 {
  margin: 0;
}

ul.category-editor-list {
  padding-left: 0;
  margin: 0;
  width: 100%;
}

li.category-editor-item {
  list-style: none;
  width: 100%;
}

.category-editor-name-input {
  flex-grow: 1;
}

.category-editor-color-input {
  height: 2.25em;
}

.category-editor-add {
  width: 100%;
}

.task-list-new-task,
.category-editor-add {
  color: #fdfeff;
  background: #bd4444;
}

.task-list-new-task:hover,
.category-editor-add:hover {
  background: #ac3232;
}

.task-list-new-task:active,
.category-editor-add:active {
  background: #891111;
}

button:hover,
select:hover,
input[type='date']:active,
input[type='color']:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

button:active,
select:active,
input[type='date']:focus,
input[type='date']:active,
input[type='color']:focus,
input[type='color']:active {
  background: #eeeef3;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
